@import "./variables";

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background: $accent-color;
  width: 100%;
  height: 75px;
}

.container {
  height: 100%;
  width: 100%;
  flex: 1;
  margin: auto;
  background: $content-bg-color;
  border: 1px solid #ffffff;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media screen and (max-width: $mobile-width) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  &__left {
    grid-template-rows: repeat(2, minmax(0, 2fr));
    display: grid;
  }

  &__right {
    grid-template-rows: repeat(3, minmax(0, 1fr));
    display: grid;
  }

  &__cover {
    width: 100%;
    height: 100%;

    display: flex;

    &--title {
      border-bottom: 4px solid $text-color;
      border-right: 4px solid $text-color;
    }

    &--cta {
      border-right: 4px solid $text-color;
    }

    &--description {
      border-bottom: 4px solid $text-color;
    }

    &--about-us {
      border-top: 4px solid $text-color;
      background: $content-bg-heavy-color;
    }
  }

  &__title {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: $content-item-width;

    &__name {
      font-size: $very-large-font-size;
      font-weight: bold;
    }

    &__podcast-btn {
      font-size: $small-font-size;
      background: $accent-color;
      padding: 1rem 2rem;
      width: 245px;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: $content-item-width;
    margin: auto;

    &__item {
      display: flex;
      gap: 2rem;
      font-size: $large-font-size;
      align-items: center;

      &__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__description {
    font-size: $large-font-size;
    width: $content-item-width;
    margin: auto;
  }

  &__image {
    max-width: 100%;
    height: 90%;
    display: block;
    margin: auto;
    object-fit: cover;
  }

  &__about-us {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: $content-item-width;
    margin: auto;

    &__description {
      font-size: $medium-font-size;

      &__text {
        display: flex;
        gap: 20px;
        align-items: flex-start;
      }

      &__logo {
        height: 50px;
      }
    }

    &__sns {
      font-size: $small-font-size;
      margin-left: auto;
      display: flex;
      gap: 10px;
    }
  }
}

.home-mobile {
  background: $accent-color;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;

  &__container {
    width: 100%;
    height: auto;
    background: $content-bg-color;
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
  }

  &__title {
    flex: 3;
    width: $mobile-content-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;

    &__name {
      font-size: $bit-large-font-size;
      font-weight: bold;
    }

    &__podcast-btn {
      font-size: $small-font-size;
      background: $accent-color;
      padding: 1rem 2rem;
      color: white;
      text-align: center;
      cursor: pointer;
      width: 245px;
    }
  }

  &__cta {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    &__item {
      display: flex;
      gap: 2rem;
      font-size: $large-font-size;
      align-items: center;

      &__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__description {
    font-size: $medium-font-size;
    width: $mobile-content-width;
    margin: 6rem auto;
  }
}

hr.rounded {
  border-top: 2px solid $text-color;
  border-radius: 5px;
}
