@import "./variables";

.home {
  height: 100vh;
  width: 100%;
  background: $accent-color;
  display: flex;
}

.container {
  height: calc(100% - 150px); //150px = header + footer
  width: 100%;
  margin: auto;
  background: $content-bg-color;
  border: 1px solid #ffffff;
  grid-column: 1 / 2;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

  &__left {
    grid-template-rows: 2fr 2fr;
    display: grid;
  }

  &__right {
    grid-template-rows: repeat(3, minmax(0, 1fr));
    display: grid;
  }

  &__cover {
    width: 100%;
    height: 100%;

    display: flex;

    &--title {
      border-bottom: 4px solid $text-color;
      border-right: 4px solid $text-color;
    }

    &--cta {
      border-right: 4px solid $text-color;
    }

    &--description {
      border-bottom: 4px solid $text-color;
    }

    &--about-us {
      border-top: 4px solid $text-color;
      background: $content-bg-heavy-color;
    }
  }

  &__title {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: $content-item-width;

    &__name {
      font-size: $very-large-font-size;
      font-weight: bold;
    }

    &__podcast-btn {
      font-size: $small-font-size;
      background: $accent-color;
      padding: 1rem 2rem;
      width: 245px;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: $content-item-width;
    margin: auto;

    &__item {
      display: flex;
      gap: 2rem;
      font-size: $large-font-size;
      align-items: center;

      &__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__description {
    font-size: $large-font-size;
    width: $content-item-width;
    margin: auto;
  }

  &__image {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
  }

  &__about-us {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: $content-item-width;
    margin: auto;

    &__description {
      font-size: $medium-font-size;

      &__text {
        display: flex;
        gap: 20px;
        align-items: flex-start;
      }

      &__logo {
        height: 50px;
      }
    }

    &__sns {
      font-size: $small-font-size;
      margin-left: auto;
      display: flex;
      gap: 10px;
    }
  }
}
