$accent-color: #2b4a67;
$text-color: black;
$content-bg-color: #faf5e9;
$content-bg-heavy-color: rgb(217, 217, 217, 0.5);
$main-font: "Antonio";

$small-font-size: 2.4rem;
$medium-font-size: 3.2rem;
$large-font-size: 4rem;
$very-large-font-size: 9rem;

$content-item-width: 500px;
$mobile-width: 798px;
